# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
*.pyc
.pytest_cache/

# Node
node_modules/
dist/
.env.local

# Docker
pgdata/
minio_data/

# IDE
.vscode/
.idea/

# 系统文件
Thumbs.db
Desktop.ini

# mypy
.mypy_cache/